/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

.wf-loading {
  h1, h2, h3, h4, h5, h6, p, ul, ol, a {
    visibility: hidden;
  }
}

html,
button,
input,
select,
textarea {
  font-family: $sans;
  color: $primary;
}

html {
  background: $white;
}

body {
  min-width: 1000px;
  
  font-size: 1em;
  line-height: 1.4;
}

a {
  color: $blue;

  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
}

pre {
  padding: 8px 12px;

  border: 1px solid $blue-border;

  background: #FFF;
}

code {
  font-family: $code;
  font-size: 13px;
  color: #555;
}

h2 {
  margin: 0.75em 0;
  font-size: 2em;
  text-rendering: optimizeLegibility;
}

h3 {
  font-size: 1.5em;
  text-rendering: optimizeLegibility;

  code, em {
    margin-left: 1.5em;

    color: #555;
    font-family: $code;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
  }
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
  vertical-align: middle;
}