/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
  font-family: proxima-nova, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #222;
}

html {
  @include background-image(linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0)), url('../img/main.png'));
}

.no-multiplebgs, .no-cssgradients {
  background: #eee;
}

body {

  font-size: 1em;
  line-height: 1.4;
}

.docs {
  background-image: url('../img/sidebar.png');

  h2 {
    font-family: kulturista-web,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
  }
}

a {
  color: $blue;

  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
}

pre {
  padding: 8px 12px;

  border: 1px solid #ddd;

  background: #FFF;
}

code {
  font-family: Source Code Pro, monospace, serif;
  font-size: 13px;
  color: #555;
}

h2 {
  font-size: 2em;
  text-rendering: optimizeLegibility;
}

h3 {
  font-size: 1.5em;
  text-rendering: optimizeLegibility;

  code, em {
    margin-left: 1.5em;

    color: #555;
    font-family: Source Code Pro, monospace, serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
  }
}

h4 {
  border-bottom: 1px solid #ccc;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}