@import 'compass/css3';

// Font Stacks

$sans: proxima-nova, Helvetica Neue, Helvetica, Arial, sans-serif;

// Colors

$primary: #444;

$white: #fafafa;
$yellow: #fdbb30;

$blue-tint: #e2eaf1;
$blue-border: #d6dee4;

$blue: #1a75cf;
$blue-light: #66b3ff;
$blue-dark: #22394f;

$shadow-color: darken($blue-tint, 10%);