@import 'compass/css3';

// Font Stacks

$sans: proxima-nova, Helvetica Neue, Helvetica, Arial, sans-serif;
$code: Source Code Pro, monospace, serif;

// Colors

$primary: #444;

$white: #fafafa;
$yellow: #fdbb30;

$blue-tint: #e2eaf1;
$blue-tint: #edf1f5;
$blue-border: darken($blue-tint, 8%);

$blue: #1a75cf;
$blue-light: #66b3ff;
$blue-dark: #22394f;