.l-constrained {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

.l-row {
  margin-left: -32px;
}

.l-col1 {
  width: 216px;
  margin-left: 32px;
  float: left;
}

.l-col2 {
  width: 464px;
  margin-left: 32px;
  float: left;
}

.l-col3 {
  float: left;
  width: 712px;
  margin-left: 32px;
}

.l-alpha {
  margin-left: 0;
}

.l-main {
  width: 700px;
}