.l-constrained {
  width: 960px;
  margin: 0 auto;
}

.l-row {
  margin-left: -32px;
}

.l-col1 {
  width: 216px;
  margin-left: 32px;
  float: left;
}

.l-col2 {
  width: 464px;
  margin-left: 32px;
  float: left;
}