.quick-start {
  ul {
    padding: 0;

    list-style: none;
  }

  li {
    margin: 1em 0;

    font-size: 0.85em;
  }
}

.docs {
  h2 {
    margin-top: 2em;
    border-bottom: 5px solid $blue-border;

    font-weight: 400;
    -webkit-font-smoothing: antialiased;
  }

  h1 + h2 {
    margin-top: 0.75em;
  }

  h3 {
    display: block;
    margin: 1.5em 0 1em;
    padding-top: 1em;
    border-top: 1px solid $blue-border;
  }

  h2 + h3 {
    margin: 1em 0;
    padding: 0;
    border-top: 0;
  }

  table {
    width: 100%;
    margin: 1em 0;

    background: #fff;

    th {
      text-align: left;
    }

    td, th {
      padding: 6px 12px;
      border: 1px solid $blue-border;
    }

    td:first-child {
      white-space: nowrap;
    }  
  }

  p > code,
  li > code {
    padding: 0 5px;
    border-radius: 3px;

    background-color: $blue-border;
  }
}

.sidebar {
  margin-left: 731px;
  padding: 0 0 0 2em;
  position: absolute;
  width: 200px;

  font-size: 14px;
  font-weight: bold;

  ul {
    padding: 0;
  }

  input {
    @include box-sizing(border-box);
    width: 100%;
    padding: 5px 8px;
    position: relative;
    z-index: 2;

    outline: none;

    border: 1px solid $blue-border;
    border-radius: 50px;

    &:focus {
      box-shadow: 0 0 5px 2px rgba($blue, 0.5);
    }
  }
}

.sidebar input:focus + .search-results {
  display: block;
}

.search-container {
  width: 100%;
  margin: 1em 0;
  position: relative;
}

#search-reset {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
  
  width: 18px;
  height: 18px;
  padding: 0;
  border: 0;
  border-radius: 50%;

  background: #e9e9e9;
  color: #999;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
}

.sidebar-primary {
  a {
    display: block;
    margin: 8px 0px 0;

    color: $primary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.sidebar-secondary {
  display: none;
  margin: 0 0 1em;

  font-weight: normal;
  font-size: 14px;

  a {
    margin: 4px 0;

    color: $blue;

    font-weight: normal;
    text-rendering: optimizeLegibility;
  }
}

.top {
  color: #222;
  font-weight: normal;
  font-size: 12px;

  span {
    font-size: 8px;
  }
}

.btn {
  display: inline-block;
  zoom: 1;
  *display: inline;
  padding: 8px 10px;
  position: relative;

  border: 1px solid rgba(0,0,0,0.1);

  background-color: $yellow;

  color: #222;
  text-shadow: 0 1px 0 rgba(255,255,255,0.3);
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  @include box-shadow(
    -1px 1px 0 $blue-border,
    -2px 2px 0 $blue-border, 
    -3px 3px 0 $blue-border,
    -4px 4px 0 $blue-border
  );

  @include transition(all 0.1s ease-out);

  &:hover {
    background-color: lighten($yellow, 10%);

    text-decoration: none;
  }

  &:active {
    bottom: -4px;
    left: -4px;
    @include box-shadow(inset 1px 1px 0 rgba(0,0,0,0.1));
  }
}

.btn-primary {
  padding: 8px 16px;

  background-color: $blue;
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);

  @include box-shadow(
    -1px 1px 0 $blue-border,
    -2px 2px 0 $blue-border, 
    -3px 3px 0 $blue-border,
    -4px 4px 0 $blue-border,
    -5px 5px 0 $blue-border
  );

  &:hover {
    background-color: lighten($blue, 10%);
  }

  &:active {
    bottom: -5px;
    left: -5px;
  }
}

.btn-large {
  margin: 40px 0 24px;

  font-size: 24px;
  text-transform: none;
}

.header {
  padding: 18px 0;
  border-bottom: 6px solid $blue;

  background: $blue-dark;
  color: $white;
  -webkit-font-smoothing: antialiased;

  a {
    color: $blue-light;
  }
}

.logo {
  margin: 0;
  float: left;

  font-size: 1.5em;
  font-weight: 800;
  letter-spacing: .104167em;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;

  a {
    color: $white;
    text-decoration: none;
  }
}

.hero {
  position: relative;

  border-bottom: 1px solid $blue-border;

  background: $white;

  text-align: center;
  overflow: hidden;
}

.hero-content {
  padding: 3em 0 2em;
}

.video {
  position: absolute;
  top: 0;
  height: 480px;
  width: 100%;
  visibility: hidden;

  background-color: #777;

  iframe {
    display: none;
    margin: 0 auto;
  }
}

.close-btn {
  bottom: 10px;
  right: -20px;
  padding: 0;
  position: absolute;

  border: none;

  background: none;

  color: #fff;
  font-size: 0.75em;
  font-weight: 700;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;

  &:hover {
    text-decoration: underline;
  }
}

.tagline {
  margin: 0;

  font-weight: 400;
  -webkit-font-smoothing: antialiased;

  a {
    font-weight: 700;
    -webkit-font-smoothing: subpixel-antialiased;
  }
}

.nav {
  float: right;
  margin: 6px 0;

  font-size: 0.875em;
  font-weight: 700;
  text-rendering: optimizeLegibility;

  ul {
    margin: 0;
  }

  li {
    float: left;
    margin-left: 1.5em;
  }
}

.home-content {
  h2 {
    border-bottom: 5px solid $blue-border;
  }
}

.features-content {
  h2 {
    margin-top: 0;
    border: 0;

    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.examples {
  margin-top: 0;
  padding: 0;

  font-size: 14px;
  font-weight: bold;
  list-style: none;

  li {
    margin: 0.5em 0;

    &:first-child {
      margin-top: 0;
    }
  }
}

.used-by {
  padding: 1.5em 0;
  border-bottom: 1px solid $blue-border;
  
  background: $blue-tint;
  text-align: center;
}

.used-by-caption {
  margin-top: 0;

  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.used-by-list {
  padding: 0.5em 0;
  list-style: none;
  margin: 0;

  li {
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin-left: 2em;

    &:first-child {
      margin-left: 0;
    }
  }

  a {
    display: block;
    position: relative;
    background-position: bottom left;
    background-size: 100%;

    &:hover {
      background-position: top left;
    }
  }
}

.used-by-walmart {
  width: 152px;
  height: 37px;
  top: 2px;

  background-image: url('../img/walmart.png');
}

.no-backgroundsize .used-by-walmart {
  background-image: url('../img/walmart-small.png');
}

.used-by-asda {
  width: 115px;
  height: 34px;

  background-image: url('../img/asda.png');
}

.no-backgroundsize .used-by-asda {
  background-image: url('../img/asda-small.png');
}

.used-by-metalab {
  width: 152px;
  height: 38px;
  top: 2px;

  background-image: url('../img/metalab.png');
}

.resources {
  display: inline-block;
  zoom: 1;
  *display: inline;
  padding: 0;
  margin-left: 3.33%;
  margin-top: 0;
  position: relative;
  bottom: 3px;

  list-style: none;

  li {
    display: inline-block;
    zoom: 1;
    *display: inline;

    margin-left: 1.5em;
  }
}

.icon:before {
  display: inline-block;
  position: relative;
  top: 3px;
  content: '';
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.icon-book:before {
  background-image: url('../img/icon-book.png');
}

.icon-list:before {
  background-image: url('../img/icon-list.png');
}

.icon-play:before {
  background-image: url('../img/icon-play.png');
}

.footer {
  margin-top: 5em;
  padding: 2em 0;
  border-bottom: 6px solid $blue;

  background: $blue-dark;
  color: $white;
  font-size: 0.875em;
  text-align: center;
  -webkit-font-smoothing: antialiased;

  a {
    color: $blue-light;
    font-weight: 700;
  }
}

// Syntax Highlighting

.tomorrow-comment,
pre .comment,
pre .title {
  color: #8e908c;
}
.tomorrow-red,
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #c82829;
}
.tomorrow-orange,
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f5871f;
}
.tomorrow-yellow,
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #eab700;
}
.tomorrow-green,
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #718c00;
}
.tomorrow-aqua,
pre .css .hexcolor {
  color: #3e999f;
}
.tomorrow-blue,
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #4271ae;
}
.tomorrow-purple,
pre .keyword,
pre .javascript .function {
  color: #8959a8;
}