.sidebar.is-fixed {
  position: fixed;
  top: 1.5em;
}

.hero.no-video {
  @include transition(height 0.3s ease-out);

  .video {
    visibility: hidden;

    opacity: 0;

    @include transition(visibility 0s 0.5s, opacity 0.6s ease);
  }
}

.hero.has-video {
  height: 480px !important;

  @include transition(height 0.3s ease-out);

  .hero-content {
    display: none;
  }

  .video {
    visibility: visible;
    opacity: 1;

    @include transition(opacity 0.6s ease);

    iframe {
      display: block;
    }
  }
}