@import 'breakpoint-1';

.lt-ie8 {
  .sidebar input {
    display: none;
  }

  .example, .tutorial {
    margin-top: -38px;
  }
}

.lt-ie8 {
  .used-by-list {
    padding-bottom: 14px;
  }

  .resources li {
    margin-bottom: 8px;
  }
}