.l-constrained {
  width: 960px;
  margin: 0 auto;
}

.l-row {
  margin-left: -3.33%;
}

.l-col1 {
  width: 21.6667%%;
  margin-left: 3.33%;
  float: left;
}

.l-col2 {
  width: 46.6667%;
  margin-left: 3.33%;
  float: left;
}